[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url =  https://github.com/scrooloose/nerdtree.git
[submodule "bundle/drupal-snippets"]
	path = bundle/drupal-snippets
	url =  https://github.com/tanarurkerem/drupal-snippets.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url =  https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url =  https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url =  https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
  	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/Dockerfile.vim"]
	path = bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-webdevicons"]
	path = bundle/vim-webdevicons
	url = https://github.com/ryanoasis/vim-webdevicons
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
